<!-- <div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
</div>

<div class="row">
  <div class="col-4">
    <button
      pButton
      icon="pi pi-check"
      iconPos="left"
      (click)="mostrarNombre()"
      class="p-button-help"
      label="Cambiar nombre"
    ></button>
  </div>
<hr>
  <div class="col-6">
    <p-card>
      <p-card [header]="nombre | titlecase" subheader="Esto es un subheader">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt nulla consequuntur quaerat non eos rem aspernatur voluptatum animi fugit ipsum fuga distinctio iusto, quam odit deleniti illum! Minus, distinctio ut.
</p-card>
    </p-card>
  </div>
</div> -->

<app-menu></app-menu>

<router-outlet></router-outlet>
